<section class="content row container">
    <article>
        <h2>
            <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
            <a href="{{ path('article_show', { 'slug': article }) }}">{{ article.title }}</a>
        </h2>
        <hr />
<!--        <img class="article_thumbnail hidden-xs" width=650 height=150 src="{{ article.image }}" />-->
        <p class="row article_content text-justify">
            {% if article.content|raw|length > 50 and app.request.attributes.get('_route') != 'article_show' %}
                {{ article.content|raw|slice(0, 200)|raw }}...
                <a href="{{ path('article_show', { 'slug': article }) }}" class="read_article">Lire la suite</a>
            {% else %}
                {{ article.content|raw }}
            {% endif %}
        </p>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <span class="posted_by">Posté par <a href="#">{{ article.user.getUsername() }}</a></span>
                {% if article.category|length > 0 %}
                    <span class="article_category">dans <a href="{{ path('article_index', {'category': article.category.getName()}) }}">{{ article.category.getName() }}</a></span>
                {% endif %}
            </div>
            <div class="col-md-6 text-right">
                <div class="row">
                    <time class="date_article">Posté le {% if article.date %}{{ article.date|date('Y-m-d H:i:s') }}{% endif %}</time>
                </div>
                {% if article.getLastUpdate() %}
                <div class="row">
                    <time class="date_article">Dernière modification le {{ article.getLastUpdate()|date('Y-m-d H:i:s') }}</time>
                </div>
                {% endif %}
            </div>
        </div>
        {% if app.request.attributes.get('_route') == 'article_show' %}
        <div id="article_social_links">
            <div class="row">
                <a class="twitter-share-button"
                   href="https://twitter.com/intent/tweet?text={{ article.title }}"
                   data-size="default">
                    Tweet</a>
                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                <script type="IN/Share" data-url="{{ app.request.getUri }}" data-counter="right"></script>
            </div>
        </div>
        {% endif %}
    </article>
</section>